/* if vs code shows warning , go to setting -> CSS> Lint:Unknown At Rules -> select ignore */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen bg-gradient-to-br from-[#212121] to-[#000000] overflow-hidden;
  }
  nav {
    @apply absolute top-0 right-0 bottom-0 w-[300px];
  }
  ul {
    @apply p-5 absolute top-[100px] w-[260px];
  }
  li {
    @apply flex items-center mb-5 space-x-6 cursor-pointer;
  }
  
  button {
    @apply border-0 outline-none focus:outline-none absolute top-[17px] right-[29px] w-[50px] h-[50px] rounded-full;
  }
}

@layer components {
  .navbar-background {
    @apply bg-[#313131] absolute top-0 right-0 bottom-0 w-[300px];
  }
  .icon-placeholder {
    @apply w-[45px] h-[45px] rounded-full;
  }
  .text-placeholder {
    @apply flex-1 h-8 rounded-lg;
  }
}

/* menu items */

ul li:nth-child(1) span {
 border: 2px solid #FF008C;
}
ul li:nth-child(2) span {
 border: 2px solid #D309E1;
}
ul li:nth-child(3) span {
 border: 2px solid #9C1AFF;
}
ul li:nth-child(4) span {
 border: 2px solid #7700FF;
}
ul li:nth-child(5) span {
 border: 2px solid #4400FF;
}